<h1 class="text-3xl font-bold"><%= action_name.capitalize %> Quiz</h1>
<h2 class="text-gray-500 text-sm" >
  <%= link_to "Back to Quizzes", quizzes_path, class: "text-blue-500 hover:underline" %>  
</h2>

<%= form_with model: @quiz, local: true do |form| %>
  <%= form.label :csv_file, "Upload csv for quiz questions" %>
  <%= form.file_field :csv_file, accept: ".csv" %>
  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-700" %>
    <%= form.text_field :title, class: "w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700" %>
    <%= form.text_area :description, class: "w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :time_limit, "Time Limit (minutes)", class: "block text-gray-700" %>
    <%= form.number_field :time_limit, class: "w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <h2 class="font-semibold text-2xl mt-6">Questions</h2>
  <div id="questions">
    <% if action_name == "edit" %>
      <%= form.fields_for :questions do |question_form| %>
        <%= render 'question_fields', f: question_form %>
      <% end %>
    <% end %>
  </div>

  <button type="button" id="add-question" class="add-question bg-blue-500 text-white px-2 py-1 rounded-md mt-4" onclick="addQuestion()">
    Add Question
  </button>

  <%= form.submit "#{action_name.capitalize} Quiz", class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
<% end %>

<!-- Hidden template for new questions -->
<template id="question-template">
  <div class="question-fields question_NEW_INDEX mb-4" data-controller="question">
    <label class="block text-gray-700" for="quiz_questions_attributes_NEW_INDEX_content">Question</label>
    <textarea class="w-full border border-gray-300 rounded-md p-2" name="quiz[questions_attributes][NEW_INDEX][content]" id="quiz_questions_attributes_NEW_INDEX_content"></textarea>

    <h3 class="font-semibold text-xl mt-2">Answers</h3>
    <div class="answers" id="answers">

      <div class="answer-fields mb-4">
        <label class="block text-gray-700" for="quiz_questions_attributes_NEW_INDEX_answers_attributes_0_content">Answer</label>
        <input class="w-full border border-gray-300 rounded-md p-2" type="text" name="quiz[questions_attributes][NEW_INDEX][answers_attributes][0][content]" id="quiz_questions_attributes_NEW_INDEX_answers_attributes_0_content">
        <input name="quiz[questions_attributes][NEW_INDEX][answers_attributes][0][correct]" type="hidden" value="0" autocomplete="off"><input type="checkbox" value="1" name="quiz[questions_attributes][NEW_INDEX][answers_attributes][0][correct]" id="quiz_questions_attributes_NEW_INDEX_answers_attributes_0_correct">
        <label for="quiz_questions_attributes_NEW_INDEX_answers_attributes_0_correct">Correct Answer</label>
        <label for="quiz_questions_attributes_NEW_INDEX_answers_attributes_0_delete">Delete Answer</label>
        <input type="checkbox" name="quiz[questions_attributes][NEW_INDEX][answers_attributes][0][_destroy]" id="quiz_questions_attributes_NEW_INDEX_answers_attributes_0_delete">
      </div>
    </div>
    <button type="button" class="add-answer bg-gray-500 text-white px-2 py-1 rounded-md mt-2" onclick="addAnswer(this)">
      Add Answer
    </button>
    <label for="quiz_questions_attributes_NEW_INDEX_delete">Delete Question</label>
    <input type="checkbox" name="quiz[questions_attributes][NEW_INDEX][_destroy]" id="quiz_questions_attributes_NEW_INDEX_delete">

  </div>
</template>

<script type="text/javascript" charset="utf-8">
    function addQuestion() {
        const questionsContainer = document.getElementById("questions");
        const questionTemplate = document.getElementById("question-template").innerHTML;
        let questionIndex = document.querySelectorAll("#questions .question-fields").length;
        let newQuestionHTML = questionTemplate.replaceAll(/NEW_INDEX/g, questionIndex);
        questionsContainer.insertAdjacentHTML("beforeend", newQuestionHTML);
    }

    function addAnswer(element) {
        const questionDiv = element.closest(`.question-fields`);
        const questionIndex = questionDiv.querySelector("textarea").getAttribute("name").match(/\d+/g)[0];
        console.log(questionIndex);
        const answersContainer = questionDiv.querySelector(".answers");
        const answerIndex = answersContainer.querySelectorAll("input[type='text']").length;

        // Add new answer input fields
        const answerHTML = `
                        <div class="answer-fields mb-4">
                          <label class="block text-gray-700" for="quiz_questions_attributes_${questionIndex}_answers_attributes_${answerIndex}_content">Answer</label>
                          <input class="w-full border border-gray-300 rounded-md p-2" type="text" name="quiz[questions_attributes][${questionIndex}][answers_attributes][${answerIndex}][content]" id="quiz_questions_attributes_${questionIndex}_answers_attributes_${answerIndex}_content">
                          <input name="quiz[questions_attributes][${questionIndex}][answers_attributes][${answerIndex}][correct]" type="hidden" value="0" autocomplete="off"><input type="checkbox" value="1" name="quiz[questions_attributes][${questionIndex}][answers_attributes][${answerIndex}][correct]" id="quiz_questions_attributes_${questionIndex}_answers_attributes_${answerIndex}_correct">
                          <label for="quiz_questions_attributes_${questionIndex}_answers_attributes_${answerIndex}_correct">Correct Answer</label>
                          <label for="quiz_questions_attributes_${questionIndex}_answers_attributes_${answerIndex}_delete">Delete Answer</label>
                          <input type="checkbox" name="quiz[questions_attributes][${questionIndex}][answers_attributes][${answerIndex}][_destroy]" id="quiz_questions_attributes_${questionIndex}_answers_attributes_${answerIndex}_delete">
                        </div>
                  `;
        answersContainer.insertAdjacentHTML("beforeend", answerHTML);
    }
</script>