<div class="question-fields mb-4" data-controller="question">
  <%= f.label :content, "Question", class: "block text-gray-700" %>
  <%= f.text_area :content, class: "w-full border border-gray-300 rounded-md p-2" %>

  <h3 class="font-semibold text-xl mt-2">Answers</h3>
  <div class="answers" id="answers">
    <%= f.fields_for :answers do |answer_form| %>
      <div class="answer-fields mb-4">
        <%= answer_form.label :content, "Answer", class: "block text-gray-700" %>
        <%= answer_form.text_field :content, class: "w-full border border-gray-300 rounded-md p-2" %>
        <%= answer_form.check_box :correct %>
        <%= answer_form.label :correct, "Correct Answer" %>
      </div>
    <% end %>
  </div>

  <button type="button" class="add-answer bg-gray-500 text-white px-2 py-1 rounded-md mt-2" onclick="addAnswer(this)">
    Add Answer
  </button>
</div>
