<%= turbo_stream.append "answers" do %>
  <div class="answer-fields mb-4">
    <%= form_with(model: [@question, @answer], local: true) do |f| %>
      <%= f.label :content, "Answer", class: "block text-gray-700" %>
      <%= f.text_field :content, class: "w-full border border-gray-300 rounded-md p-2" %>
      <%= f.check_box :correct %>
      <%= f.label :correct, "Correct Answer" %>
    <% end %>
  </div>
<% end %>
